.layout {
  background: linear-gradient(238deg, #52feca, black);
  min-height: 100vh;

  header {
    width: 100%;
    min-height: 100px;
    background-color: #f6d4ab;
    display: flex;
    align-items: center;
    background-color: black;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0px 3px 10px grey;
    z-index: 999;
    > ul {
      list-style-type: none;
      display: flex;
      li {
        margin-left: 80px;
        font-size: 20px;
        a {
          text-decoration: none;
          color: white;
          font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
            Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
            sans-serif;
          transition: 0.3s;
        }
        a:hover {
          color: #4be9ba;
        }
      }
    }
    .login-div {
      margin-left: auto;
      margin-right: 100px;

      button {
        width: 100px;
        height: 40px;
        background: linear-gradient(45deg, #fe8419, transparent);
        border-radius: 10px;
        border: none;
        outline: none;
        box-shadow: 5px 5px 10px black;
        cursor: pointer;
        font-weight: 600;
        font-size: 15px;
        border: 2px solid white;
      }
      button:active {
        box-shadow: none;
        transform: translate(5px, 5px);
      }
      button a {
        text-decoration: none;
        color: #992617;
      }
    }
    .account {
      margin-left: auto;
      display: flex;
      align-items: center;
      &-messages {
        width: 300px;
        height: 200px;
        position: absolute;
        top: 100px;
        box-shadow: 2px 2px 10px grey;
        background-color: white;
        display: flex;
        flex-direction: column;
        list-style-type: none;
        overflow: auto;
        border-radius: 0px 0px 30px 30px;
        b {
          float: left;
        }
        span {
          float: right;
        }
        li {
          width: 100%;
          border: 0.5px solid grey;
          list-style-type: none;
          padding: 5px;
        }
      }
      &-notifications {
        color: #89df25;
        font-size: 48px;
        margin-top: 10px;
        cursor: pointer;
        span {
          font-size: 30px;
        }
      }
      &-add {
        // color: #89df25;
        font-size: 48px;
        margin-top: 10px;
        cursor: pointer;
      }
      &-icon {
        margin-right: 30px;
        cursor: pointer;
        margin-left: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        &-img {
          font-size: 60px;
          color: rgb(179, 179, 179);
          border-radius: 50%;
          svg {
            box-shadow: 2px 2px 10px white;
            border-radius: 50%;
          }
        }
      }
      &-logout {
        color: white;
        font-size: 40px;
        margin-right: 60px;
        cursor: pointer;
      }
    }
  }
  main {
    min-height: 700px;
    margin-top: 100px;
  }
  footer {
    width: 100%;
    height: 400px;
    background-color: black;
    background-image: url("../assets/images/hack.webp");
    background-size: contain;
    h3 {
      color: white;
      margin: 10px;
    }
  }
}
